<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Backbone.js • TodoMVC</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/base.css">
    </head>
    <body>

        <section id="todoapp">
            <header id="header">
                <h1>todos</h1>
                <input id="new-todo" placeholder="What needs to be done?" autofocus>
            </header>
            <section id="main">
                <input id="toggle-all" type="checkbox">
                <label for="toggle-all">Mark all as complete</label>
                <ul id="todo-list"></ul>
            </section>
            <footer id="footer"></footer>
        </section>
        <div id="info">
            <p>Double-click to edit a todo</p>
            <p>Written by <a href="https://github.com/addyosmani">Addy Osmani</a></p>
            <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
        </div>

        <!-- <\!-- Underscore templates -\-> -->
        <!-- <script type="text/template" id="item-template"> -->
        <!--     <div class="view"> -->
        <!--         <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>> -->
        <!--         <label><%- title %></label> -->
        <!--         <button class="destroy"></button> -->
        <!--     </div> -->
        <!--     <input class="edit" value="<%- title %>"> -->
        <!-- </script> -->

        <!-- <script type="text/template" id="stats-template"> -->
        <!--     <span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span> -->
        <!--     <ul id="filters"> -->
        <!--         <li> -->
        <!--             <a class="selected" href="#/">All</a> -->
        <!--         </li> -->
        <!--         <li> -->
        <!--             <a href="#/active">Active</a> -->
        <!--         </li> -->
        <!--         <li> -->
        <!--             <a href="#/completed">Completed</a> -->
        <!--         </li> -->
        <!--     </ul> -->
        <!--     <% if (completed) { %> -->
        <!--     <button id="clear-completed">Clear completed (<%= completed %>)</button> -->
        <!--     <% } %> -->
        <!-- </script> -->
        
        <!-- Javacript files -->
        <!-- <script src="{{ STATIC_URL }}assets/libs/jquery-1.11.0.min.js"></script> -->
        <!-- <script src="{{ STATIC_URL }}assets/libs/underscore-min.js"></script> -->
        <!-- <script src="{{ STATIC_URL }}assets/libs/backbone-min.js"></script> -->
        <!-- <script src="{{ STATIC_URL }}assets/libs/backbone.localStorage-min.js"></script> -->
        <!-- <script src="{{ STATIC_URL }}assets/libs/backbone-tastypie.js"></script> -->
        {% if USE_OPTIMIZED_BACKBONE_APP %}
            <script src="{{ STATIC_URL }}dist/main.js"></script>        
        {% else %}
            <script data-main="{{ STATIC_URL }}app/main.js" src="{{ STATIC_URL }}assets/libs/require.js"></script>
        {% endif %}
        
        <!-- <script src="{{ STATIC_URL }}app/models/todo.js"></script> -->
        <!-- <script src="{{ STATIC_URL }}app/collections/todos.js"></script> -->
        <!-- <script src="{{ STATIC_URL }}app/views/todos.js"></script> -->
        <!-- <script src="{{ STATIC_URL }}app/views/app.js"></script> -->
        <!-- <script src="{{ STATIC_URL }}app/routers/router.js"></script> -->
    </body>
</html>
